<% if @blog_posts.any? %>
	<% @blog_posts	.each do |post| %>

	<div class="panel panel-default">
	  <div class="panel-heading">
	  		<h2>
	  		<%= post.title %>
				<% if owner? %>
					<p class="navbar-right"><small>
					<%= link_to edit_blog_post_path(post.blog_id, post.id), url: {action: "edit"} do %>
						<i class="glyphicon glyphicon-edit"></i>
					<% end %>
					<%= link_to blog_post_path(post.blog_id, post.id), method: :delete, 'data-confirm' => "Are you sure you want to delete this post?" do %>
						<i class="glyphicon glyphicon-trash"></i>
					<% end %>
					</small></p>
				<% end %>
				</h2>
	  </div>

	  <div class="panel-body">
			<p><%= post.description %></p>
	  </div>

		<div class="panel-footer">
			<p>Posted by <%= post.user.email %> at <%= post.created_at.strftime("%A %d %B %Y, %H:%M") %></p>
		</div>
	</div>

	<% end %>
<% else %>
	<h1>No posts yet :(</h1>
<% end %>