<% if @posts.any? %>
	<% @posts.each do |post| %>

		<h2><%= post.title %></h2>
		<p><%= post.description %></p>
		<p>Posted by <%= post.user.email %></p>
		<p>Created at <%= post.created_at.strftime("%A %d %B %Y, %H:%M") %></p>

	<% end %>
<% else %>
	<h1>No posts yet :(</h1>
<% end %>

<% if current_user %>

	<h2><%= link_to "New post", new_blog_post_path %></h2>

<% else %>
	
	<h2>You must be logged in to add new posts</h2>

<% end %>